body{
    background: rgb(220,13,21);
    background: linear-gradient(0deg, rgba(220,13,21,1) 0%, rgba(0,0,0,1) 100%);

}
/* body.debug .container{
    background-color: blueviolet;
} */

[class*="col-"]{
    height: 50px;
    min-width: 50px;
    /* border: 1px solid white; */
    display: flex;
}

/* [class*="nest-"]{
    height: 50px;
    min-width: 50px;
    display: flex;
}

.box-nest{
    min-height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} */

/* MAIN */

main {
    margin: 7.5rem 4rem}


h1{
    font-style: oblique;
    color: black;
}

footer {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 20%, rgba(220,13,21,1) 100%);
    margin-top: 2rem;
}




/* DA FARE ANCORA LE MEDIA QUERY */